* {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h4, .btn {
    font-family: 'Martel', serif;
}

.btn-primary {
    background-color: #347b91;
    border-color: #347b91;
}

.btn-primary:hover {
    background-color: #2a6375;
    border-color: #2a6375;
}

.btn-secondary {
    background-color: #597064;
    border-color: #597064;
}

.btn-secondary:hover {
    background-color: #4d6659;
    border-color: #4d6659;
}

.overlay {
    position: absolute; 
    top: 0; 
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: .5s ease;
    opacity:0;
    padding: 20px;
}

.card:hover .overlay {
    opacity: 1;
}

img {
    width: 100%;
    height: auto;
}

.card {
    border-radius: 0;
}

.card-body {
    border-top: 1px solid lightgrey;
}

.bg {
    background-color: #616247!important;
}

.jumbotron {
    background-color: #DFCFBE;
    margin-bottom: 0;
}

.bg-lite {
    background-color: #e0e2e4;
}