* {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h4, .btn {
    font-family: 'Martel', serif;
}

.btn-primary {
    background-color: #347b91;
    border-color: #347b91;
}

.btn-primary:hover {
    background-color: #2a6375;
    border-color: #2a6375;
}

.btn-secondary {
    background-color: #597064;
    border-color: #597064;
}

.btn-secondary:hover {
    background-color: #4d6659;
    border-color: #4d6659;
}

.overlay {
    position: absolute; 
    top: 0; 
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: .5s ease;
    opacity:0;
    padding: 20px;
}

.card:hover .overlay {
    opacity: 1;
}

img {
    width: 100%;
    height: auto;
}

.card {
    border-radius: 0;
}

.card-body {
    border-top: 1px solid lightgrey;
}

.bg {
    background-color: #616247!important;
}

.jumbotron {
    background-color: #DFCFBE;
    margin-bottom: 0;
}

.bg-lite {
    background-color: #e0e2e4;
}

.icon {
    width: auto;
    height: 1rem;
    margin: 5px;
}

.footer-text {
    margin: 1.5rem auto;
    text-align: center;
}

#overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    color: #FFFFFF;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #96897f;
    z-index: 10;

    visibility: visible;
    opacity: 1;
    transition: visibility .5s, opacity .5s ease;
}

.overlay-title {
    /* position: relative;
    left: 40vw; */
    align-self: center;
}

#overlay > .btn {
    width: 220px;
    align-self: center;
    margin: 10px auto;
}